body {
	padding-top: 2px;
  background-color: rgba(0,0,0,.9);
}


/* kind of hacky way to improve the web UI. may affect mobile, and need to be changed */

textarea {
	resize: none !important;
}

.ui.inverted.menu .item .item.logout {
  color: white;
}

main.ui.page.grid#goalsPage {
  margin-top: 3rem;
}

aside {
  float: left;
  display: inline-block;
}

a.venmoAuth {
  color: white;
}
.flock {
  height: 95vh;
  background-image: url('../images/flock.jpg');
}
.mapfont {
  padding-right: 20px;
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;
}
.mapdiv {
  /*display: none;*/
  height: 100vh;
  background-image: url('../images/mountain.jpg');
  /*opacity: 0.8;*/
}
ui.image.map {
  display: none;
  height: 75%;
  width: 75%;
  opacity: 0.6;
}
.herdfont {
  padding-left: 20px;
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;
}

.flock {
  height: 95vh;
  background-image: url('../images/flock.jpg');
}
.mapdiv {
  height: 100vh;
}
.map {
  height: 75%;
  width: 75%;
}

.footer {
  margin-top: -100px;
  height: 100px;
}

